@import url('https://fonts.googleapis.com/css2?family=Rasa:wght@300&family=Roboto&display=swap');
@import './imports-second-page-login.css';

*{
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
	outline: none;
}

header, main, footer {
	font-family: Roboto, "Helvetica Neue";
}

main {
    justify-content: center;

}

body {
	background-color:rgba(43, 45, 61, 1) !important;
	
}