footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;

    width:100%;
    height: 50px;
    font-size: 25px;

    color: #FFFFFF;
    background-color: rgba(57, 59, 84, 1);
}