footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    margin-top: 80px;
    left:0px;
    bottom:0px;
    z-index:1;

    width:100%;
    height: 50px;
    font-size: 25px;

    color: #FFFFFF;
    background-color: rgba(57, 59, 84, 1);
}